<div class="footer row">
  <div class="row">
    <div class="links col-sm-6 text-center">
      <h3 class="text-center title-spacer">Links</h3>
      <p><a class="website-links">How does Lilypad help the grid?</a></p>
      <p><a class="website-links">How does Lilypad help energy users?</a></p>
    </div>
    <div class="footer-contact col-sm-6 text-center">
      <h3 class="text-center title-spacer">Contact Us</h3>
      <div>
        <p>Henry Meyer - CEO</p>
        <p> <a class="email-LP website-links" href="mailto: contact@lilypad-energy.com">contact@lilypad-energy.com</a></p>
        <p>617-833-0591</p>
      </div>
    </div>
  </div>
  <div class="row">

  </div>
</div>
