<h1 class="explainer-title text-center title">Lilypad for the Grid</h1>
<div class="grid-explainer container">
  <div class="lp-1 row col-sm-8">
    <div class="text-center">
      <div class="lilypad-box text-center">
        <img src="/assets/lilypad-clipart.png" class="lilypad-clipart" />
        <div class="lilypad-number">1</div>
      </div>
      <div class="column">
        <h2 class="title text-center">Connect Your Data</h2>
        <p class="explainer-1 lead text-center">
          Create a Lilypad Profile, enable our connection to
          your Utility bills, and Customize your profile with
          the unique pieces of equipment your site has.
        </p>
      </div>
    </div>
  </div>
  <div class="lp-2 row col-sm-8 pull-right">
    <div class="text-center">
      <div class="lilypad-box column pull-right">
        <img src="/assets/lilypad-clipart.png" class="lilypad-clipart" />
        <div class="lilypad-number">2</div>
      </div>
      <div class="column">
        <h2 class="title">Reduce Consumption</h2>
        <p class="explainer-2 lead text-center">
          Get notified when to reduce consumption for a few hours,
          our platform assesses consumption and makes it easy to know
          what actions to take and when to do so.
        </p>
      </div>
    </div>
  </div>
  <div class="lp-3 row col-sm-8">
    <div class="text-center">
      <div class="lilypad-box">
        <img src="/assets/lilypad-clipart.png" class="lilypad-clipart" />
        <div class="lilypad-number">3</div>
      </div>
      <div class="column">
        <h2 class="title">Get Paid</h2>
        <p class="explainer-3 lead text-center">
          Based on the programs you enroll in, you wont just reduce
          bills - you will earn cash payments! Create a profile and
          determine the value your site can generate.
        </p>
      </div>
    </div>
  </div>
</div>
